Options +ExecCGI
AddHandler fastcgi-script .cgi
#AddHandler cgi-script .cgi

RewriteEngine on
RewriteRule ^$          hassleme.cgi?fn=home
RewriteRule ^create(.*)$    hassleme.cgi?fn=home;$1
RewriteRule ^faq$       hassleme.cgi?fn=faq
RewriteRule ^C/(.*)$    hassleme.cgi?fn=confirm;token=$1
RewriteRule ^U/(.*)$    hassleme.cgi?fn=unsubscribe;token=$1

